<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Telamonaholdings</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="stylesheets/application.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body class="homepage">
<div id="wrapper1">
	<div id="wrapper2">
		<div id="header-wrapper">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" id="header">
				<tr>
					<td><div id="logo">
							<h1><a href="#">Telamona<span>holdings</span></a></h1>
						</div></td>
					<td><div id="menu">
							<ul>
								<li><a href="#" accesskey="1" title="">Home</a></li>
								<li><a href="#" accesskey="2" title="">Careers</a></li>
								<li><a href="#" accesskey="3" title="">Information</a></li>
								
							</ul>
						</div></td>
				</tr>
			</table>
			<div id="banner-wrapper">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td><div id="banner">
								
								
							</div></td>
					</tr>
				</table>
			</div>
		</div>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="page" class="container">
			<tr>
				<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><div id="box1" class="box-style1">
									<div class="bgtop">
										<div class="bgbtm"> <img src="images/johannesburg.jpg" alt="" width="274" height="153" class="alignleft" />
											<h2 class="title">About Us</h2>
											<p>Telamona Holdings has a network in place that ensures that investors find their
Desired acquisitions within a short time frame. The extent of experience covers sourcing of commodities, orchestrating meaningful business Partnerships. The commodity is obtained from a number of mines in South Africa and around the world. Telamona Holdings is committed to rendering professional services meeting client needs. Going the extra mile is second nature. </p>
											<p>Main area of activity: South Africa <br />
											   Main product: Commodities (minerals)<br />
											</p>
											<h2 class="title">Available products </h2>
											<ul class="style1">
													<li><a href="#">Crude Oil</a></li>
													<li><a href="#">Diamond mines</a></li>
													<li><a href="#">Coal Mines</a></li>
													<li><a href="#">Gold deals</a></li>
													<li><a href="#">chrome deals</a></li>
											</ul>
										</div>
									</div>
								</div></td>
						</tr>
					</table>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><div class="box-style2">
									<div class="bgtop">
										<div class="bgbtm">
											<div id="box2">
												<h2 class="title">Mission</h2>
												<p>Telamona Holdings is bent on establishing life long business and personal relationships with its patron. No matter how small. the project, the patron will be dealt with in the same manner of professionalism. Our personal touch will ensure that the Telamona Holdings brand will establish itself as a competitive market player, and provide the patron with a reputable
vehicle in which to transact.</p>
												<p><img src="images/diamond.jpg" alt="" width="83" height="83" class="alignleft" />We are mandated by the commodity holders.</p>
											</div>
											<div id="box3">
												<h2 class="title">Values</h2>
												<ul class="style1">
													<li>Professionalism</li>
													<li>Commitment</li>
													<li>Honesty, integrity, reliability</li>
													<li>Initiative and innovation</li>
													<li>Precise execution</li>
													<li>Extensive and expert marketing</li>
													<li>Maintain reputable business conduct</li>
												</ul>
											</div>
											<div id="box4">
												<h2 class="title">Human Capacity </h2>
												<p> <h4>Chief Executive Officer </h4>Papy  Joao N’tela — Commodities.</p>
												<p> <h4>Managing Director </h4>Nicola A.Moon — Commodities.</p>
												<p> <h4>Associate Director </h4>Peter Hamutu Gadzama—Commodities </p>
												<p><img src="images/gold.jpg" alt="" width="83" height="83" class="alignleft" />Entrust us with your business and you will appreciate the dynamic touch to business that is required for successful conclusion of transactions.</p>
											</div>
											<div class="clearfix">&nbsp;</div>
										</div>
									</div>
								</div></td>
						</tr>
					</table>
					
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="footer-content">
	<tr>
		<td><div id="three-columns">
				<div id="column1">
					
				</div>
				<div id="column2">
					
				</div>
				<div id="column3">
					<h2>Contact Us</h2>
					<p>Papy N'tela<br />
					   papy.ntela@gmail.com<br />
					   papy.ntela@telamonaholdings.com<br />
					   +27 825469716</p>
				</div>
			</div></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="footer">
	<tr>
		<td valign="top"><p>Copyright (c) Telamona Holdings (pty) Ltd. All rights reserved.</p></td>
	</tr>
</table>
</body>
</html>


